body{
    background-image: url(https://img.lovepik.com/bg/20240415/Black-Diamond-Shaped-3D-Wall-The-Perfect-Background-Backdrop-and_5834251_wh1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
} 
.logo-container{
  width: 450px;
  height: 420px;
  overflow: hidden;
  margin-left: 990px;
 border: 5px solid rgb(255, 242, 0);
  margin-top: 40px;
  border-radius: 60px;
  box-shadow: 0 0 35px#000000;
transition: 1s;
position: absolute;
}
.logo-container img{
  width: 100%;
  height: 100%;
  transition: 0.8s ;
}

.logo-container img:hover{
  transform: scale(1.08);
  transition: 0.8s;
 
}
.logo-container:hover{
    box-shadow: 0 0 35px#e1ff00;
    transition: 1s;
}
button{
  width: 16%;
  height: 10%;
  position: absolute;
  margin-top: -70px;
 margin-left: 988px;
  border-radius: 0px;
  background: linear-gradient(180deg,rgb(255, 255, 255),rgb(0, 0, 0),rgb(255, 255, 255));
  font-size: 20px;
  color: #ffffff;
  transition: 0.8s;
border-radius: 10px;
}
button:hover{
  transform: scale(1.08);
  transition: 0..8s;
}
.btn2{
  margin-left: 1223px;
   background:linear-gradient(180deg,rgb(255, 255, 255),rgb(0, 0, 0),yellow);
   width: 15%;
  
}
h3{

  font-size: 25px;
  color: #000000;
  position: absolute;
  margin-left: 290px;
}
.speak-container{
   background:linear-gradient(90deg,rgb(255, 255, 255),rgb(255, 255, 255));
  width: 900px;
  height: 140px;
  margin-left: 300px;
  z-index: 1000;
  border-radius: 20px;
  margin-top: 30px;
  border: 4px solid black;
}
.speak-container p{
  margin-left: 100px;
}

.box-text p{
  color: #ffffff;
  font-size: 19px;
  margin-left: 67px;
font-weight: bold;
  font-style: inherit;
margin-top: 10px;

}
.box-text{
  width: 58%;
 padding: 20px;
  background:linear-gradient(130deg,rgb(118, 115, 115),rgb(255, 200, 2));
  border-radius: 20px;
  margin-top: 45px;
padding-top: 70px;
padding-bottom: -40px;
padding-left: -20px;
border: 5px solid rgb(255, 247, 0);
box-shadow: 0 0 25px black;
margin-left: 25px;
}
.box-text strong{
  font-size: 29px;
  position: absolute;
  color: #000000;
  margin-top: -45px;
  margin-left: 210px;
}
h1{
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
    height: 150px;
    margin-top: -10px;
  color: rgb(0, 0, 0);
padding-top: 30px;
font-size: 70px;
border: 5px solid yellow;
width: 1510px;
margin-left: -10px;
}
h1 p{
  margin-left: -120px;
  margin-top: -1px;
  text-shadow: 0 0 15px black;
}
.brend img{
  position: absolute;
  margin-left: 460px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 25px;
  
}
.brend p{
  position: absolute;
  margin-left:600px;
  margin-top: 120px;
  font-size: 20px;
  font-weight: bold;
}
h2{
  color: rgb(255, 221, 0);
  margin-left: 840px;
  margin-top: -200px;
  position: absolute;
  font-size: 70px;
  text-shadow: 0 0 15px rgb(255, 255, 0);
}
.logo img{
    border-radius: 50px;
    border: 3px solid black;
    width: 200px;
    height: 162px;
    margin-top: -229px;
    position: absolute;
    margin-left: 20px;
}
.nav-links {
 display: flex;
 gap: 290px;

margin-top: -50px;
padding: 10px;
height: 85%;
 background: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0) 0);

text-decoration: none;

width: 100%;
border: 2px solid rgb(230, 255, 8);
box-shadow: 0 0px 25px rgb(255, 221, 0);
transition: 1s;
}

.logo{
    position: absolute;
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
    width: 40px;
    text-decoration: none;
}

.nav-links li a {
 justify-content:right;
  background: linear-gradient(90deg, rgb(255, 234, 0), rgb(255, 255, 255));
position: absolute;
 font-size: 1.2vw;
 border-radius: 17px;
padding: 10px ;
 text-decoration: none;
 box-shadow: 0px 0px 25px rgb(0, 0, 0);
 color: #000000;
width: 6%;
gap: 20px;
margin-top: 3px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
transition: 0.7s;
margin-left: 270px;
border: 2px solid rgb(0, 0, 0); 
}

 
.nav-links li a:hover{

  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(255, 230, 0));
 transform: translateY(3px);
  box-shadow:
    0 0 8px #d0ff00,
    inset 0 0 20px rgba(0,0,0,0.7),
    inset 0 10px 20px rgba(255,255,255,0.15);

  color: #ffffff;
  transition: 0.5s;
  
}
 nav { 
            width: 1499px;
            height: 57px;
         transition: 1s;
           margin-left: -10px;
           background: linear-gradient(rgb(0, 0, 0), rgb(23, 30, 89),);
         
  
}
.card{
  width: 700px;
  height: 480px;
  background:linear-gradient(220deg,rgb(0, 0, 0)20%,rgb(46, 45, 45),rgb(156, 116, 5));
  border: 4px solid rgb(255, 253, 253);
  border-radius: 10px;
  margin-top: 20px;
padding: 5px;
 margin-left: 30px;
  font-size: 18px;
  box-shadow: 0 0 25px black;
  
}

.card p{
  margin-left: 40px;
  margin-top: 70px;
 color: #ffffff;

  
}
.card img{

 width: 90px;
 height: 90px;
position: absolute;
border-radius: 50%;
margin-top: 5px;
margin-left: 30px;
border: 4px solid white;
}
 


.catalog{
  display: flex; 
 
}
.star{
  position: absolute;
  margin-left: 130px;
  margin-top: -20px;
}
h4{
  margin-left: 170px;
  color: #fff;
  font-size: 25px;
}
.ogo {
  padding: 20px;
  border-radius: 20px;
  background:white;
  width: 700px;
  max-width: 90%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  animation: stam 0.7s ease;
  height: 435px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;

}

.ogo p {
  margin: 6px 0;
  line-height: 1.4;
  font-size: 19px;
  color: #000000;
}


@keyframes stam {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
  
.icon{
          margin-top: 450px;
          
           padding: 50px;
        
            
          display: flex;
           justify-content:space-around;
    
        }

.container2{
width: 1000px;
height: 80px;

border-radius: 40px;
position: absolute;
margin-left: 220px;
margin-top: 120px;
justify-content: space-around;
display: flex;
    background:none;
    border:none
}

.instagram-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  border-radius: 10%;
  
  box-shadow:  0 12px 25px rgb(255, 0, 89);


}
.instagram-icon:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px #e1306c;
  border-radius: 10%;
 
 
}
.facebook-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  border-radius: 10%;
  
  box-shadow:  0 12px 25px rgb(0, 0, 235);


}
.facebook-icon:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px #0818f7;
  border-radius: 10%;
 
}
.whatsapp-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  border-radius: 10%;

  box-shadow:  0 12px 25px rgb(17, 255, 0);
 
}


.whatsapp-icon:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px #25D366;
  border-radius: 10%;
}

.product img{
  width: 300px;
  height: 250px;
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 60px;box-shadow: 0 0 25px rgb(225, 255, 0);
  
}

.contact{
  width: 400px;
  height: 200px;
  position: absolute;
  margin-left: 1000px;
  background:none;
  font-size: 20px;
  margin-top: -160px;
  
}
.contact p{
  color: #fff;
}

.contact p:hover{
  color: blue;
}
.magaz p:hover{
  color: blue;
}
.magaz{
  width: 150px;
  height: 200px;
  position: absolute;
  margin-left: 600px;
  background:none;
  font-size: 20px;
  margin-top: -160px;
  
}
.magaz p{
  color: #fff;
}
h5{
  color: #fff;
  font-size: 25px;
 
}

.card-link{
  width: 45%;
  height: 10px;
  position: absolute;
  margin-top:-220px;
  margin-left: 540px;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid blue;
  transition: 1s;
}

.card-link:hover{
  width: 48%;
  transition: 1s;
}
footer{
  width: 100%;
  height: 610px;
   background:linear-gradient(220deg,rgb(0, 0, 0)20%,rgb(46, 45, 45),rgb(156, 116, 5));

 margin-top: 20px;
  border: 2px solid rgb(201, 201, 201);
}
.prava p{
  color: #fff;
  font-size: 23px;
  
  
}
.prava{
  background:none;
  position: absolute;
  margin-left: -470px;
  margin-top: 50px;
}